extends layout

block content
  form(method='POST')
    legend Signup
    .form-group
      label(for='username') Username
      input.form-control(type='text', name='username', autofocus)
    .form-group
      label(for='email') Email
<<<<<<< HEAD
      input.form-control(type='email', name='email')
=======
      input.form-control(type='text', name='email')
>>>>>>> b820c7051ed1159bfd30471ddea07e34068cac23
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password')
    .form-group
      label(for='confirm') Confirm Password
      input.form-control(type='password', name='confirm')
    button.btn.btn-primary(type='submit') Signup